{{template "head"}}
{{template "navbar_user"}}
{{template "body"}}

<div text-align="center">
    <div class="hero-text">
        {{$user := index . 0}}
        {{$uh := index . 1}}
        {{$cal := index . 2}}
        <p>
            <h2 style="color:darkcyan">Welcome back, {{$user.Name}}!</h2>
            {{if ne $user.UserType "merchant"}}
            {{if eq $uh.Height 0.0}}
            Health conditions not set<br>
            <a href="/editprofile">Set here!</a><br>
            {{else}}
            Gender: {{$uh.Gender}}<br>
            Height: {{$uh.Height}}<br>
            Weight: {{$uh.Weight}}<br>
            Activeness: {{$uh.Active}}<br>
            Weight Goal: {{$uh.Target}}<br>
            BMI: {{$cal.BMI | printf "%.2f"}}<br>
            Age: {{$cal.Age}}<br>
            Calories Target : {{$cal.Calories}}<br>
            {{end}}
            {{end}}
            <!-- Previous Login: {{.Setting.PrevLogin}}<br>
            Current Login: {{.Setting.CurrLogin}} -->
            <hr>
        </p>
            <!-- <a href="/addinv" class="btn btn-warning" style="text-align:center">
                <i class="far fa-plus-square fa-4x"></i><br>Add Inventory</a> -->

    </div>
</div>

{{template "footer"}}